:root {
    --primary-color:#223440;
    --secondary-color: #9EB3C0;
    --accent-color: #516883;
    --background-color: #DEE7EE;
    --font-family: 'Arial, sans-serif';
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font-family);
    
}